@font-face {
    font-family: "Avenir Next";
    src: url(fonts/AvenirNextLTPro-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next";
    src: url(fonts/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

/* colors I'll be using in this project */

:root {
    --background: rgb(106, 123, 139);
    --lightBackground: rgb(241, 243, 245);
    --textColor: rgb(92, 91, 91);
    --whiteColor: rgb(255, 255, 255);
    --hoverColor: rgb(231, 145, 65);
    --lightElementBackground: #bac2c9;
    --formBackground: #c4cad0;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

/* p.s. Mobile version is created after the full version but I decided to put it first */

/* Working on header and footer in the index page */

body {
    font-family: "Avenir Next";
    color: var(--textColor);
    background-color: var(--lightBackground);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Mobile version nav bar will be set up here including menu button (checkbox) */

.nav-bar {
    background: var(--background);
    height: 80px;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.nav-bar img {
    overflow: hidden;
    height: 70%;
    margin-left: 4%;
}

nav {
    position: absolute;
    text-align: right;
    top: 100%;
    background: var(--background);
    width: 100%;
    opacity: 90%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding-right: 4%;
    list-style: none;
}

nav li {
    margin-bottom: 0.5em;
}

nav a {
    color: var(--lightBackground);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--hoverColor);
    cursor: pointer;
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle-label {
    padding: 1em;
    margin-right: 4%;
    color: var(--lightBackground);
    border: 1px solid var(--lightBackground);
    border-radius: 10px;
}

.nav-toggle-label:hover {
    background-color: var(--hoverColor);
    cursor: pointer;
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* Adding mr coffee big logo to the middle of the page and as a part of header */

.big-logo-image {
    margin-top: 80px;
    width: 16%;
    min-width: 8rem;
    max-width: 13rem;
}

/* nav bar is done, will work on the hero section below:  */

main {
    padding-left: 5%;
    padding-right: 5%;
    min-height: calc(100vh - 80px - 100px);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    width: 80%; /* so it moves to the next line and doesn't overlap the image */
    margin-top: 10%;
    text-align: center;
    text-shadow: 1px 1px 4px var(--background);
    color: var(--lightBackground);
    font-size: 2rem;
    text-transform: uppercase;
    z-index: 0;
}

/* Working on the second section here (cards with features) */

.features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h2 {
    text-align: center;
    color: var(--textColor);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.3rem;
    font-family: "Avenir Next";
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.card {
    width: 90%;
    text-align: center;
    background: var(--lightElementBackground)
    color: var(--whiteColor);
    box-shadow: 0px 1px 2px 1.5px rgb(150, 150, 150, 70%);
    margin-block-end: 20px;
}

.card-icon {
    width: 120px;
    align-items: center;
    padding-top: 3rem;
}

.feature-title {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 2px 3px rgb(150, 150, 150);
}

.feature-description {
    padding: 10%;
    font-weight: bold;
}

/* button "find ut more" */

.find-more, .form-button, .close-popup-button {
    background-color: var(--background);
    width: 13rem;
    height: 3.5rem;
    border-radius: 7px;
    border: none;
    box-shadow: 1px 2px 3px rgb(150, 150, 150, 50%);
    color: var(--whiteColor);
    font-weight: normal;
    font-size: 1.2rem;
}

.find-more:hover , .form-button:hover, .close-popup-button:hover {
    cursor: pointer;
    background-color: var(--hoverColor);
}

/* Working on the notes section */

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--textColor);
    padding: 0 10%;
}

.timetable {
    display: flex;
    flex-direction: column;
    size: 100%;
    justify-content: center;
    align-items: center;
}

.timetable img {
    height: 5rem;
    padding: 2rem;
}

.timetable p {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.notes {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.side-note {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-note p {
    margin: 1rem;
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;
}

.side-note p:nth-of-type(2), .bold-text {
    font-weight: bold;
}

.announce, .extra-info  {
    text-align: center;
    padding-top: 2rem;
}

.announce {
    font-size: 1.4rem;
}

.extra-info {
    font-size: 1.7rem;
    padding-bottom: 2.5rem;
}

/* Working on the footer here */

footer {
    background: var(--background);
    height: 100px;
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr auto max-content 0.5fr;
    grid-column-gap: 10%;
    align-content: center;
}

.footer-logo {
    height: 4.5rem;
    margin-left: 1rem;
}

.socials-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);
}

.socials-table p {
    text-align: center;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 0.5rem;
}

.socials a {
    display: flex;
    width: 1.5rem;
}

.socials a img {
    width: 100%;
}

/* "about" page styles except for header and footer*/

.info-block-top, .info-block-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-top: 0;
    margin-bottom: 2rem;
}

.info-block-bottom {
    flex-direction: column-reverse;
}

.info-block-top img, .info-block-bottom img {
    width: 100%;
    padding-top: 3rem;
}

.info-block-text {
    padding-top: 2rem;
}

.info-block-title {
    font-size: 1.5rem;
}

/* "contact us" page styles except for header and footer*/

.contact-us-main-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.contact-us-page-title {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    font-weight: normal;
}

.contact-details {
    width: max-content;
    margin: auto;
}

.contact-details p {
    padding: 1rem;
}

.map {
    padding-top: 3rem;
    margin-bottom: 6rem;
}

/* Working on the form of the contact-us page. 
Submit button style and hover effect are added along with the index page button to match the style throthout the website */

.contact-us-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    padding: 2rem 0 2rem 0;
}

.form-element {
    width: 100%;
    display: block;
}

.form-item-label {
    display: block;
}

.form-input {
    background: var(--formBackground);
    height: 60px;
    width: 100%;
    display: block;
    border: var(--formBackground);
    padding-left: 10px;
}

.message-input {
    height: 120px;
}

.form-item-label {
    font-size: 20px;
    padding-bottom: 6px;
}

.required {
    color: #6a7b8b;
}

.message-input {
    display: block;
    flex-wrap: wrap;

}

.message-input::placeholder {
    color: var(--whiteColor);
    font-size: 17px;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

/* when the inout is correct */

.success-icon, .error-icon {
    visibility: hidden;
}

.error-message {
    visibility: hidden;
}

/* Success events if the data is correct */

.form-element.success input {
    border: 3px solid rgb(180, 221, 180);
    background: var(--formBackground);
    height: 60px;
    width: 100%;
    display: block;
    padding-left: 10px;
}

.form-element.success .success-icon {
    visibility: visible;
    margin-left: 12px;
    color: rgb(180, 221, 180);
}

/* Error event if the data is not valid */

.form-element.error input{
    border: 3px solid rgb(228, 121, 121);
    background: var(--formBackground);
    height: 60px;
    width: 100%;
    display: block;
    padding-left: 10px;
}

.form-element.error .error-icon {
    visibility: visible;
    color: rgb(228, 121, 121);
}

.form-element.error .success-icon {
    visibility: hidden;
}

.form-element.error .error-message {
    visibility: visible;
    color: red;
}

/* Styling out popup here, button style is set up above along with other buttons*/

.popup {
    position: fixed;
    border: 0.2px solid var(--background);
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 20%;
    padding: 2.5rem 1rem 2.5rem 1rem;
    margin: 10%;
    transform: scale(0); /*this is the part hiding the popup*/    
    transition: 200ms ease-in-out;
    z-index: 9;
}

.popup.active {
    transform: scale(1);;
}

.popup-header {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 27pt;
    width: 100%;
}

.popup-img {
    width: 3rem;
    padding-left: 30%;
}

.popup-header p {
    text-align: center;
    padding-left: 10%;
}

.popup-content {
    text-align: left;
    width: 90%;
    padding: 30px 0 30px 0;
    line-height: 23pt;
    font-weight: bold;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(143, 143, 143, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;
    z-index: 1;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

@media screen and (min-width: 650px) {
    /* returning to original full version */
    
    .nav-toggle-label {
        display: none;
    }

    nav, nav a {
        opacity: 1;
    }

    /* Working on nav bar here  */

    .nav-bar {
        position: absolute;
        display: flex;
        justify-content: space-between;
    }

    nav {
        all:unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 4%;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-bottom: 0;
        white-space: nowrap;
        padding-left: 2rem;
    }

    nav a {
        all: unset;
        color: var(--lightBackground);
    }

    .cards {
        all: unset;
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
    }

    .card {
        width: 30%;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        padding: 2rem;
    }

    /* Working on the notes section */

    .about-us {
        all: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: var(--textColor);
        padding: 0 10%;
    }

    .timetable {
        all: unset;
        display: flex;
        size: 100%;
        justify-content: left;
        align-items: center;
    }

    .timetable img {
        height: 5rem;
        padding: 2rem;
    }

    .timetable p {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .notes {
        all: unset;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Working on the footer here */

    footer {
        grid-template-columns: 5.5% 20rem;
        grid-column-gap: 35%;
        align-content: center;
    }

    .footer-logo {
        height: 4.5rem;
        margin-left: 4rem;
    }

    .socials-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--whiteColor);
    }

    .socials {
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 0.5rem;
    }

    /* "about" page styles except for header and footer*/

    .about-page-main-section {
        padding-bottom: 2rem;
    }

    .info-block-top, .info-block-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 0;
        padding-bottom: 3rem; 
    }

    .info-block-top {
        padding: 0;
    }

    .info-block-bottom {
        padding-right: 0;
    }

    .info-block {
        width: 60%;
        padding: 5%;
    }

    .info-block-top img, .info-block-bottom img {
        width: 40%;
    }

    .info-block-text {
        font-size: 1.2rem;
    }

    .info-block-title {
        margin-top: 1rem;
        font-size: 2rem;
    }

    /* contact us page changes */

    .contact-us-page-title {
        font-size: 2rem;
        font-weight: normal;
        text-align: center;
        padding-bottom: 1.7rem;
    }

    /* pop-up change here */

    .popup {
        top: 10%;
    }

    .popup-header {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        font-size: 1.4rem;
    }

}